:root{
    --corPrimaria: rgb(245, 245, 245); /* var(--corPrimaria); */
    --corSecundaria: rgb(0, 75, 236); /* var(--corSecundaria); */
}
*{
    margin: 0;
    padding: 0;
    
}
.corSecundariaFundo{
    background-color: var(--corSecundaria); 
    padding: 1%;
}
body{
    color: var(--corSecundaria);
    background-color: var(--corPrimaria);
}
section{
    margin: 3% 15% 0 15%;
    content: "";
    clear: both;
    display: flex;
    flex-direction: row;
}
.icons{
    height: 30px;
    margin-right: 10px;
    margin-bottom: 5px;
}
/*nav*/

nav {
    background-color: #333; /* Cor de fundo da barra de navegação */
    display: flex;
    align-items: center;
    padding: 10px; /* Espaçamento interno para criar margens internas */
}

h1 {
    flex: 1; /* Ocupa o espaço disponível à esquerda para o logo */
}

#logo {
    max-height: 50px; /* Ajuste a altura da imagem do logo */
}

ul {
    list-style: none;
    display: flex;
    justify-content: flex-end; /* Alinha as opções à direita */
    margin-right: 20px; /* Espaçamento à direita para separar as opções */
}

ul li {
    margin-left: 20px; /* Espaçamento à esquerda entre as opções */
}

a {
    text-decoration: none;
    list-style: none; /* Cor do texto das opções */
    color: white;
}



/*sobre a loja*/

#loja{
    float: left;
    margin-right: 10px;
}
 /* Formulário */
 #formContato {
    display: flex; /* Utilize flexbox para alinhar os inputs em coluna */
    flex-direction: column; /* Organize os itens em coluna */
    max-width: 400px; /* Defina a largura máxima do formulário */
}


#formContato input,
#formContato textarea {
    width: 100%; /* Os inputs e textarea ocuparão toda a largura disponível */
    margin-bottom: 10px; /* Adicione um espaço entre os inputs e textarea */
}

#formContato:focus{
    outline-color: black;
}
#redes,
#endereco,
#formContato{
    flex: 1;
    padding: 20px;
}
#msg{
    resize: none;
}
#btn_enviar{
    padding: 5px;
    background-color: var(--corSecundaria);
    color: var(--corPrimaria);
}
#btn_enviar:hover{
    background-color: rgb(0, 140, 255);
}
footer{
    color: var(--corPrimaria)
}

/* Media query para telas menores que 600px de largura */
@media screen and (max-width: 600px) {
    #logo {
        max-height: 50px; /* Reduz a altura do logo em telas menores */
    }

    nav {
        flex-direction: column; /* Altera o layout para uma coluna em telas menores */
    }

    a, h1 {
        margin-right: 0; /* Remove o espaçamento à direita em telas menores */
        margin-bottom: 10px; /* Adiciona espaçamento inferior para separar os links em telas menores */
    }
}